# Node
node_modules/
dist/

# Python
venv/
__pycache__/
*.pyc
*.py[cod]

# Env
.env

# Logs
*.log

# Java / Maven
*.class
*.jar
target/

# Alembic
alembic/versions/__pycache__/

# IDEs
.idea/
.vscode/

# Tests (agar ignore karna chahte ho)
# tests/

# OS
.DS_Store
Thumbs.db

# Binaries
*.exe
*.app
*.war

# Media
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv
